/* 
////// For this challenge ///////

- All text is in the text.md file

// Requirements
   1. Get all the navigation items next to one another
   2. Add a space between all the items
*/

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 3rem;
    margin-top: 0;
}

.container {
    width: 80%;
    max-width: 1128px;
    margin: 0 auto;
}

.intro {
    background-color: #F3EED9;
    text-align: center;
    min-height: 660px;
    display: flex;
    align-items: center;
}

.intro__wrapper {
    width: 70%;
    margin: 0 auto;
}

.intro__heading {
    font-family: 'Playfair Display', sans-serif;
    color: #824936;
    font-size: 60px;
}

.intro__text {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    font-size: 18px;
}

.two-columns {
    margin: 5em auto;
    text-align: center;
}

.two-columns__heading {
    font-family: 'Playfair Display', sans-serif;
    color: #824936;
    font-size: 36px;
    margin-bottom: 1em;
}

.row {
    display: flex;
    justify-content: space-between;
}

.col {
    width: 50%;
}

.col + .col {
    margin-left: 5em;
}

.two-columns__text + .two-columns__text {
    margin-left: 3em;
}

.two-columns__text {
    text-align: start;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 21px;
}

.dark-bg {
    background-color: #222C2A;
    color: #ffffff;
    padding: 3em 0;
}

.dark-bg__heading {
    font-family: 'Playfair Display', sans-serif;
    margin: 1em 0;
}

.dark-bg__text {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 100;
}

.light-bg {
    background-color: #824936;
    color: #ffffff;
    padding: 3em 0;
}

.light-bg__heading {
    font-family: 'Playfair Display', sans-serif;
    margin: 1em 0;
}

.light-bg__text {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 100;
}